.opacity--zero {
  opacity: 0 !important;
}
.opacity--one {
  opacity: 1 !important;
}

.border--right--white {
  border-right: 1px solid rgba(255,255,255,0.1);
}

.display--none {
  display: none;
}

.display--block {
  display: block;
}

.focus--border {
  border: 3px solid var(--point-color);
}

.translateX--1600 {
  transform: translateX(-1600px);
}
.translateX--zero {
  transform: translateX(-0px);
}